---
layout: default
---

<article class="post">
  <div class="post-content">
    {{ content }}
  </div>

  <!-- LikeBtn.com BEGIN (블로그 글 끝부분 자동삽입) -->
  <div style="margin-top: 50px; text-align: center; margin-bottom: 30px;">
    <span class="likebtn-wrapper" data-theme="custom" data-btn_size="16" data-f_size="16" data-icon_size="16" data-icon_l="hrt2" data-icon_l_c="#ff002c" data-icon_l_c_v="#fb05f7" data-icon_d_c="#5507e6" data-icon_d_c_v="#4d0f83" data-counter_l_c="#0619f8" data-brdr_c="#080808" data-counter_fs="b" data-lang="ko" data-i18n_like="좋아요" data-ef_voting="push" data-identifier="{{ page.url }}"></span>
    <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e);a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//://likebtn.com");</script>
  </div>
  <!-- LikeBtn.com END -->
</article>
